<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Event</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>
    <form  th:object="${event}" th:action="@{/event/}">
        <div class="card text-white bg-light offset-md-3" style="max-width: 55rem; margin-top: 50px">
            <div class="card-header bg-info"><h2>New Event</h2></div>
            <div class="card-body text-info">
                <!--<h5 class="card-title">Success card title</h5>-->
                <p class="card-text">

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label><h5>Summary</h5></label>
                            <input type="text" class="form-control" th:field="*{summary}"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label><h5>Location</h5></label>
                            <input type="text" class="form-control" th:field="*{location}"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label><h5>Description</h5></label>
                            <input type="text" class="form-control" th:field="*{description}"/>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="form-group col-md-4 offset-md-1">
                            <label><h5>Start Time</h5></label>
                            <input type="datetime-local" id="startTime"
                                   name="startTime" th:field="*{start}">
                            <span style="color:gray">yyyy-mm-ddTHH:MM:SS</span>
                        </div>
                        <div class="form-group col-md-4 offset-md-2">
                            <label><h5>End Time</h5></label>
                            <input type="datetime-local" id="endTime"
                                   name="endTime" th:field="*{end}">
                            <span style="color:gray">yyyy-mm-ddTHH:MM:SS</span>
                        </div>
                    </div>

                    <div class="row"  style="margin-top: 50px">
                        <div class="col-md-3 form-group">
                            <label><h5>Activity</h5></label>
                            <select class="form-control" th:field="*{activityName}">
                                <option selected value="">Choose activity</option>
                                <option th:each="activityOption:${activitySet}" th:text="${activityOption}"
                                        th:value="${activityOption}"></option>
                            </select>
                        </div>
                    </div>


                <button type="submit" class="btn btn-info offset-md-5" style="margin-top: 50px"><h4>Add Event</h4></button>
                </p>
            </div>
        </div>
    </form>
</body>
</html>